build/
cmake-build-*/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.cache/clangd/
.idea/
.vs/

out/
CMakeSettings.json

*.exe
*.dll
*.zip

# Python cache files
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
htmlcov/

**/build*/
